body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS for app */
/* H1 log in  */
h1 {
  font-size: 70px;
  color: black;
  text-align: center;
  /* font-family:; */
}

h2 {
  font-size: 30px;
  color: black;
  text-align: center;
}


/* images of the logos */
.big-logo {
  width: 100%;
  
}

.small-logo {
  width: 3%;
}

/* main body */
body{
  background-color: #b6cdbd;
}

/* login form */
.login-form {
  max-width: 400px;
  margin: auto;
  padding: 25px;
  background-color: rgba(248, 248, 248, 0.3);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.form-container {
  margin-top: 25px;
}

.username-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  display: block;
  height: 50px;
  width: 95%;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.submit {
    margin-top: 50px;
    width: 100%;
    background-color: #00BFFF;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
  background-color: #4B9CD3;
}

.submit:active {
  box-shadow: #002244 2px 2px 0 0;
  transform: translate(4px, 4px);
}

/* nav bar */
.nav {
  background-color: #f2f9f1;
  padding: 0.1vw;
  top: 1px;
  display: block;
  width: 100%;
  position: sticky;
}

.nav ul {
  white-space: nowrap;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  font-weight: bold;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li {
  /* width: 20%; */
  display: inline-block;
  font-size: 20px;
  margin: auto;
}

.nav img {
  display: inline;
  width: 4%;
}

.nav a:link {
  text-decoration: none; 
}

.nav a:visited { 
  text-decoration: none; 
} 

.nav a:hover { 
  text-decoration: none; 
} 

.nav a:active { 
  text-decoration: none; 
}

.nav a {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .nav ul {
    max-width: none;
    padding: 0;
    text-align: center;
  }

  .nav li {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

/* User Home */
.user-details, .shift-details{
  display: inline-block;
  /* display: flexbox; */
  flex-direction: column;
  width: 48%;
  border-radius: 5px;
}

.user-details {
    align-items: center;
    background-color: rgba(248, 248, 248, 0.3);
    margin: -60vw 5vw 0 5vw; /* changes the height of the user detail card in user home*/
    padding: 3vw;
    
}

.shift-details{
    align-items: center;
    background-color: rgba(248, 248, 248, 0.3);
    margin: 10vw; 
    padding: 10vw; 
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list-home {
  list-style: none;
  font-weight: bold;
}

.user-list-home li{
  margin-bottom: 15px;
}

/* list of users */

.list-of-users {
  display: flex; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-evenly; 
  width: 95%; 
  height: 10%;
  background-color: rgba(248, 248, 248, 0.3);
  border-radius: 5px;
  /* border: 1vw solid #ccc; */
  transform: translate(2.5%, 2.5%);
}










/* colour palette */

.first-color { 
	background: #f2f9f1; 
}
	
.second-color { 
	background: #ddeedf; 
}

.third-color { 
	background: #b6cdbd; 
}

.fourth-color { 
	background: #5c715e; 
}








